<head style="background-color:#1c87c4;">
  <style>
  div {
    background-color: lightgray;
  }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
      
</head >
<div class="btn-toolbar text-center well">
    
    <button type="button" class="btn btn-info btn-color btn-bg-color btn-MD col-xs-3" routerLink="/app-addaccount">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD ACCOUNT
    </button>
    <button type="button" class="btn btn-info btn-color btn-bg-color btn-md col-xs-3" routerLink="/app-showaccount">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> SHOW ACCOUNT
    </button>
    <button type="button" class="btn btn-info btn-color btn-bg-color btn-md col-xs-3"routerLink="/app-updateaccount">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span> UPDATE ACCOUNT
    </button>
    <button type="button" class="btn btn-info  btn-color btn-bg-color btn-md col-xs-3" routerLink="/app-deleteaccount">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE ACCOUNT
    </button>
</div>